h1 {
  color: red;
}

ul {
  background-color: green;
  margin: 10px;
  padding: 50px;
}

ul li {
  list-style-type: none;
  padding-left: 0px;
  margin-left: 0px;
  padding-top: 10px;
  border: 1px solid red;
}

ul li a {
  color: white;
  font-weight: bolder;
}

table {
  width: 100%;
  border: 1px solid black;
  margin-top: 40px;
  margin-bottom: 150px;
}

table td {
  text-align: center;
  border: 1px solid grey;
}

table th {
  text-align: left;
}

#unordered {
  border: 1px solid red;
}

/* <li class="item"> */
li.item {
  background-color: red;
  font-size: 10px;
}

/* <li><something class="item"></something></li> */

li .item {

}

.first {
  font-size: 40px;
}
