<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
      <div class="row">
        <div class="col-xs-4">
          <div class="bg-success">
            <h2>Hey</h2>
            <%= image_tag "background", class: "img-responsive img-circle" %>
          </div>
          <ul class="list-unstyled text-center">
            <li>
              serhrtshjtrj
            </li>
            <li>
              serhrtshjtrj
            </li>
            <li>
              serhrtshjtrj
            </li>
            <li>
              serhrtshjtrj
            </li>
            <li>
              serhrtshjtrj
            </li>
            <li>
              serhrtshjtrj
            </li>
          </ul>
          <button class="btn btn-success">Choose</button>
        </div>
        <div class="col-xs-4">
          <div class="bg-primary">
            <h2>Hey</h2>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="bg-danger">
            <h2>Hey</h2>
          </div>
        </div>
      </div>
    </div>
</div>
